version: "3.9"

services:
  api:
    container_name: api-dev
    build:
      context: ../..
      dockerfile: infra/docker/api.Dockerfile
    image: derivalia:dev
    env_file:
      - ../env/dev.env
    ports:
      - "3001:3000"
    restart: unless-stopped
