# ------------------------------------------------------------------------------
#  > docker compose --env-file infra/env/dev.env -f infra/docker/docker-compose.dev.yml up --build
# ------------------------------------------------------------------------------

version: "3.9"

services:
  api:
    container_name: api-dev
    build:
      context: ../..
      dockerfile: infra/docker/api.Dockerfile
    image: derivalia:dev
    env_file:
      - ../env/dev.env
    ports:
      - "3001:3000"
    restart: unless-stopped
    develop:
      watch:
        - path: ./apps/api/package.json
          action: rebuild
        - path: ./apps/api
          target: /usr/src/apps/api
          action: sync
    # volumes:
    #   - api:/data/api

# volumes:
#   api: